{
    "extends": "eslint-config-airbnb",
    "rules": {
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": [2, { "ignore": ["electron"] }],
        "linebreak-style": 0,
        "jsx-a11y/anchor-has-content": 0,
        "jsx-a11y/heading-has-content": 0,
        "arrow-body-style": 0,
        "react/require-default-props": 0
    },
    "globals": {
        "window": true,
        "document": true
    }
}