.Main {
    background-color: #212122;
    @media screen and (max-width: 480px) {
        flex-direction: column;
         :global {
            .list-product {
                flex: unset !important;
                width: 100% !important;
                margin-bottom: 16px;
            }
            .list-transaction {
                width: 100% !important;
                flex: 1;
            }
        }
    }
     :global {
        .list-product {
            width: calc(100% - 22rem);
        }
        .list-transaction {
            width: 22rem;
        }
    }
}