.Main {
    padding: 0.25rem;
    background-color: #212122;
    @media screen and (max-width: 480px) {
        flex-direction: column;
         :global {
            .main {
                flex: unset !important;
            }
            .list-transaction {
                width: 100% !important;
                flex: 1;
            }
        }
    }
     :global {
        .main {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
        }
        .qrcode {
            padding: 1rem;
            background-color: #FFF;
            border-radius: 3px;
        }
        .list-transaction {
            display: flex;
            flex-direction: column;
            &>div {
                flex: 1;
            }
        }
    }
}